/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fraunces,serif;
    letter-spacing: 0.05em;
    font-weight: normal;
}

hr {
    width: 50%;
    margin: 0 auto;
}

/* Typography */
h1 {
    font-size: 37px;
    margin: 0;
}

h2 {
    font-size: 16px;
    text-align: left;
    margin: 0;
}

h3 {
    font-size: 2rem;
}

.section-title {
    font-size: 2rem;
    font-family: serif;
    text-align: center;
    margin-bottom: 20px;
}

/* Layout Components */
.flex-container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    align-items: flex-start;
    margin-left: 15vw;
}

.contact-info {
    text-align: right;
    margin-left: 20px;
    margin-right: 15vw;
}

.contact-info p {
    margin: 0;
    padding-top: 15px;
}

.hero-image {
    text-align: center;
}

.hero-image img {
    width: 65vw;
}

/* Content Sections */
.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
}

.section-image {
    max-width: 100%;
    width: 20%;
    height: auto;
    border-radius: 8px;
    margin: 0;
}

.text-section {
    max-width: 70%;
    margin-right: 40px;
}

.section-text {
    font-size: 1.6rem;
    font-family: corben,serif;
}

/* Grid Layout */
.grid-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    max-width: 1000px;
    padding: 20px;
}

.grid-item {
    flex: 1 1 calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.grid-item p {
    font-size: 1.1rem;
    text-align: center;
}

.grid-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ddd;
}

/* Publications Section */
.publications-section {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.publications-list {
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
    font-family: serif;
}

.publications-list li {
    margin-bottom: 15px;
}

/* Links */
a {
    text-decoration: none;
    color: #007BFF;
}