*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fraunces,serif;
    letter-spacing: 0.05em;
    font-weight: normal;
}

/* #region nav bar */

nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 80px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-shadow: 0 0 .3rem rgba(0,0,0,.6);
    padding: .5rem 1.2rem;
    transition: 0.5s;
    fon
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
}

/* #endregion */

/* #region hero page */

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: left;
}

.header h1{
    font-size: 37px;
    padding-top: 70px;


}

.header h2{
    font-size: 16px;
    text-align: right;
}

.contact-info{
    
}

/* #endregion */


.philosophy{
    background-image: url("media/school_of_athens.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.school-of-athens{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.school-of-athens #background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.school-of-athens .row{
    display: flex;
    text-align: center;
}

.school-of-athens .row .column{
    align-items: center;
    flex: 50%;
}

.school-of-athens .row .column img{
    padding: 50vh 0;
    width: 40%;
}

/* #endregion */